{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proyectos list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Inicioestimado</th>
                <th>Finestimado</th>
                <th>Inicioreal</th>
                <th>Finreal</th>
                <th>Pm</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proyecto in proyectos %}
            <tr>
                <td><a href="{{ path('proyecto_show', { 'id': proyecto.id }) }}">{{ proyecto.nombre }}</a></td>
                <td>{{ proyecto.descripcion }}</td>
                <td>{% if proyecto.inicioEstimado %}{{ proyecto.inicioEstimado|date('Y-m-d') }}{% endif %}</td>
                <td>{% if proyecto.finEstimado %}{{ proyecto.finEstimado|date('Y-m-d') }}{% endif %}</td>
                <td>{% if proyecto.inicioReal %}{{ proyecto.inicioReal|date('Y-m-d') }}{% endif %}</td>
                <td>{% if proyecto.finReal %}{{ proyecto.finReal|date('Y-m-d') }}{% endif %}</td>
                <td>{{ proyecto.pm }}</td>
                <td>{{ proyecto.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('proyecto_show', { 'id': proyecto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('proyecto_edit', { 'id': proyecto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proyecto_new') }}">Create a new proyecto</a>
        </li>
    </ul>
{% endblock %}
